@import '../../../styles.scss';

.personal-Information-form {
  display: flex;
  flex-direction: column;
}
.personal-Information-form div {
  margin: 1.5rem 0;
}

.personal-Information-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.personal-Information-form .form-input {
  padding: 0.8rem;
  width: 100%;
}

.has-error,
.has-error:focus {
  outline: none !important;
  border: 1px solid red;
}
