<div class="create-course-panel data-form">
    <mat-horizontal-stepper [linear]="true" #stepper class="mat-elevation-z5" labelPosition="bottom">

        <mat-step [stepControl]="step1.personalInformationStep1Form" errorMessage="Landing page in error">

            <ng-template matStepLabel>Rensigner vos Informations personnelles</ng-template>
            <personal-information-step-1 #step1></personal-information-step-1>
            <div class="stepper-buttons">
                <button mat-raised-button color="primary" matStepperNext>Continue to Step 2</button>
            </div>
        </mat-step>

        <mat-step [stepControl]="step2.projectDetailsStep2Form" label="Fill out your address">
            <ng-template matStepLabel>Rensigner les informations du projet</ng-template>
            <project-details-step-2 #step2></project-details-step-2>
            <div class="stepper-buttons">
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext>Continue to Step 3</button>
            </div>
        </mat-step>

        <mat-step>
            <recap-page-step-3></recap-page-step-3>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>