<div class="iligible" *ngIf="isIligible$ | async; else notIligible">
    <p>Merci {{(user$ | async)?.civility}} {{(user$ | async )?.name}} {{(user$ | async )?.firstName}}</p>
    <p>félicitations ! vous êtes
        éligibilité à notre programme d’aides et d’accompagnement</p>
    
    <p>votre estimation est de {{(amount$ | async) | currency:'EUR':true }}</p>
</div>
<ng-template #notIligible>
    <div class="not-iligible">
        <p>Merci {{(user$ | async)?.civility}} {{(user$ | async)?.name}} {{(user$ | async )?.firstName}}</p>
        <p> Vous êtes non éligibile à notre programme d’aides et d’accompagnement</p>
    </div>
</ng-template>